﻿@model Page<City>

@{
    ViewData["Title"] = "View";
}
<h1>View</h1>

<form>

</form>

<div>
    <input type="text" placeholder="Search", id="SearchBox">
    <button type="submit" onclick="$(document).getElementById('SearchBox')">Search</button>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PageContent)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Weather Data", "All", new { Controller = "WeatherData", city = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>