﻿@model mvc_project.Models.City

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Weather Data
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink("Weather Data", "All", new { Controller = "WeatherData", city = Model.Name })
        </dd>
    </dl>
</div>
