﻿@model mvc_project.Models.Page<WeatherData>

@{
    ViewData["Title"] = "View";
}

<h1>All</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Temperature
            </th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Time of recording</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PageContent)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Pressure)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Humidity)</td>
                <td>@Html.DisplayFor(modelItem => item.TimeOfRecording)</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h3>Chart</h3>
    <canvas id="myChart" width = "512", height="256"></canvas>
</div>