﻿@model Page<Country>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PageContent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>            
                @Html.ActionLink("Cities", "All", new { Controller = "Cities", countryId = item.Id })
            </td>
            <td>
                @Html.ActionLink("Add city", "Create", new { Controller = "Cities", countryId = item.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { Controller = "Countries", countryId = item.Id, countryName = item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
